@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

body{
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #00FEEE;
  font-family: "Reddit Sans Condensed", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

.contenedor_principal{
  width: 100%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  border-radius: 60px;
  padding: 100px 30px;
  margin: 200px auto;
  font-family: "Reddit Sans Condensed", sans-serif;
  background-color: #e4e4e4;
}

.contenedor_principal #btn_iniciar{
  background-color: blueviolet;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  border: solid 2px blueviolet;
}

.contenedor_principal #btn_iniciar:hover{
  cursor: pointer;
  background-color: white;
  color: blueviolet;
  font-weight: bold;
  border: solid 2px blueviolet;
}

.contenedor_principal #btn_iniciar:active{
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  border: solid 2px blueviolet;
}

.contenedor_principal #btn_iniciar a{
  text-decoration: none;
  color: white;
  padding: 20px 30px;
}

.contenedor_principal #btn_iniciar a:hover{
  color: blueviolet;
}

.contenedor_principal #btn_iniciar a:active{
  color: white;
}

footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
  background-color: #00FEEE;
  font-family: "Reddit Sans Condensed", sans-serif;
}

.integrantes_footer h3{
  margin-left: 5px;
}

.integrantes_footer ul{
  padding: 0;
}

.integrantes_footer ul li{
  padding: 3px;
  list-style: none;
}

.universidad_logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.universidad_logo img{
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

.universidad_footer p{
  margin: 0;
}