@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap');

:root{
  --color-interfaz: #e4e4e4;
  --color-headerFooter: #00FEEE;
  --color-tabla: #313030;
}

.titulo_y_buscar{
  width: 100%;
  max-width: 85%;
  margin: 170px auto 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buscar_y_botones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buscar_y_botones #buscador{
  width: 300px;
  font-family: "Reddit Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 3px;
}

.buscar_y_botones .botones{
  margin-right: 5px;
  font-size: 18px;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  font-family: "Reddit Sans Condensed", sans-serif;
}

.buscar_y_botones .botones:hover{
  background-color: white;
  color:blueviolet;
}

.buscar_y_botones .botones:active{
  background-color: blueviolet;
  color: white;
}

.titulo_tabla h2{
  font-size: 35px;
  font-family: "Reddit Sans Condensed", sans-serif;
}

table{
  width: 100%;
  max-width: 85%;
  margin: 0 auto 326px;
  text-align: center;
  border-collapse: collapse;
}

table, tr, th, td{
  padding: 10px;
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 18px;
}

th{
  background-color: var(--color-tabla);
  color: white;
}

td{
  border-bottom: 1px solid var(--color-tabla);
}

#casilla-id{
  width: 7%;
}

#casilla-nombre{
  width: 30%;
}

#casilla-precio{
  width: 15%;
}

#casilla-cantidad{
  width: 7%;
}

#casilla-total{
  width: 15%;
}

.oculto{
  display: none;
}

.formularios-ocultos{
  text-align: center;
  width: 100%;
  max-width: 30%;
  background-color: var(--color-interfaz);
  font-family: "Reddit Sans Condensed", sans-serif;
  border-radius: 30px;
  padding: 30px;
}

.formularios-ocultos h2{
  margin: 0 0 20px 0;
}

.formularios-ocultos input{
  width: 100%;
  max-width: 50%;
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

.formularios-ocultos .botones-ocultos-formularios{
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: blueviolet;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.formularios-ocultos .botones-ocultos-formularios:hover{
  background-color: white;
  color: blueviolet;
}

.formularios-ocultos .botones-ocultos-formularios:active{
  background-color: blueviolet;
  color:white;
}

.formularios-ocultos::backdrop{
  background-color: rgba(0, 0, 0, 0.57);
}